server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: http://{{ hostvars['monitor-node-01']['ansible_host'] }}:3100/loki/api/v1/push
    backoff_config:
      max_retries: 500
      min_period: 500ms
      max_period: 5m

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      host: {{ inventory_hostname }}
      __path__: /var/log/*log

- job_name: journal
  journal:
    json: false
    max_age: 12h
    path: /run/log/journal 
    labels:
      job: systemd-journal
      host: {{ inventory_hostname }}
  relabel_configs:
    - source_labels: ['__journal__systemd_unit']
      target_label: 'unit'