# Сетевые настройки
SUBNET_CIDR=172.20.0.0/24
GATEWAY_IP=172.20.0.1

# Слой Gitea (App)
IP_GITEA_NODE_01=172.20.0.11
IP_GITEA_NODE_02=172.20.0.12
IP_GITEA_VIP=172.20.0.20

# Слой Gitea (Proxies)
IP_GITEA_PROXY_01=172.20.0.15
IP_GITEA_PROXY_02=172.20.0.16

# Слой Database (PostgreSQL)
IP_DB_NODE_01=172.20.0.21
IP_DB_NODE_02=172.20.0.22
IP_DB_VIP=172.20.0.10

# Слой Storage (NFS/GlusterFS)
IP_STORAGE_NODE_01=172.20.0.41
IP_STORAGE_NODE_02=172.20.0.42
IP_STORAGE_VIP=172.20.0.40

# Инструменты и CI/CD
IP_JENKINS=172.20.0.30
IP_WORKER=172.20.0.31
IP_DEPLOY_TARGET=172.20.0.100

# Образы и пароли
NODE_IMAGE=node-ubuntu-systemd
SSH_PASSWORD=password
ROOT_PASSWORD=password

# Слой Monitoring (Prometheus/Grafana/Loki/Alertmanager)
IP_MONITOR_NODE_01=172.20.0.50

# Backup node
IP_BACKUP_NODE=172.20.0.60

# Restic settings
RESTIC_PASSWORD=very_strong_password_for_encryption
RESTIC_REPOSITORY=/backup