# Local access
local   all             postgres                                peer
local   repmgr          repmgr                                  trust
local   replication     repmgr                                  trust

# Network access
host    all             all             127.0.0.1/32            md5
host    all             all             ::1/128                 md5
host    all             all             172.20.0.0/24           md5
host    gitea           gitea           172.20.0.0/24           md5

# Repmgr / Replication network access
host    repmgr          repmgr          172.20.0.0/24           md5
host    replication     repmgr          172.20.0.0/24           md5