# PostgreSQL
vault_pg_admin_password: "password"              # Пароль суперпользователя Postgres
vault_pg_repl_password: "replication_token_123"  # Пароль для репликации Postgres

# Keepalived (HA, VIP)
vault_keepalived_auth_pass: "short8ch"           # AuthPass для Keepalived (минимум 8 символов)

# Gitea Database
vault_gitea_db_password: "gitea_secure_password" # Пароль пользователя БД Gitea

# Gitea Secrets
vault_gitea_secret_key: "aIK2EjsRcx2vGCeppwxd2BGmWLvZQ4IYYwS4HnlAtZU="       # SECRET_KEY для шифрования сессий
vault_gitea_internal_token: "ta62gXPNXEowxAXwwQYES4fDIu0N40Uk/+QiXukthbI="  # Internal token для межнодового API
vault_gitea_jwt_secret: "SDykOeiXM3Gl4cXXvf4O1OZpq//5Bj/reapYttS4pMw="       # JWT secret для Gitea

# Gitea Admin User
vault_gitea_admin_username: "admin"                       # Логин администратора
vault_gitea_admin_password: "pofkgsdafkjhpodsfgsdjn3ODKFJH"  # Пароль администратора
vault_gitea_admin_email: "admin@gmail.com"                # Email администратора

# Alertmanager
vault_alertmanager_email_password: "gggggggggggggggg"  # Пароль для SMTP (Alertmanager) ЕГО ПОЛУЧИТЬ ИЗ ГУГЛ АККАУНТА

# PostgreSQL Exporter
pg_exporter_password: "strong_password_here"              # Пароль для Prometheus exporter

# Email для уведомлений (Alertmanager)
vault_email_for_alerts: "your_email@sdfsdfs.sdf"

# Restic (Backup)
vault_restic_repo_password: "SuperSecretRepoPassword"    # Пароль репозитория Restic
vault_restic_rest_user: "backup"                         # Пользователь REST-сервера Restic
vault_restic_rest_password: "SuperSecretRestPassword"    # Пароль REST-сервера Restic

# Grafana
vault_grafana_admin_password: "pofkgsdafkjhpodsfgsdjn3ODKFJH" # Пароль администратора Grafana